@use "sass:selector";
@use "../fragments/mixins";
.own {
	.chapterDrop {
		--background-color: var(--own-color);
	}
}
.chapterDrop {
	display: block;
	// float: left;

	// border-top: 1px solid;
	width: 100%;
	margin: 0.5em auto;

	&::before {
		content: "";
		// display: table;
		display: block;
		clear: both;
		border-bottom: 1px solid;
		padding-top: 0.5em;
		margin-bottom: 0.5em;
	}

	&[open] {
		margin-bottom: 1em;
	}

	ol {
		li {
			display: list-item;
			// list-style-type: decimal;
			list-style: none;

			// list-style-position: inside;
			&::before {
				content: attr(chapter-number) ". ";
				display: inline-table;
				padding-right: 0.5em;
				width: 2em;
				text-align: right;
			}

			.datetime {
				position: relative;
				top: 0;
				float: right;
			}
		}

		>details {
			summary {
				position: sticky;
				top: 0;
				background-color: var(--background-color); // this gets declared via js
				@include mixins.outline($outline-color: var(--background-color));
				z-index: 1; // makes it also cover the floating datetime spans
				transition-duration: 0.5s; // this is what makes the padding transition back smooth instead of jarring
				&::before {
					content: "Show ";
				}
			}

			&[open] {
				summary {
					padding-left: 25%;
					transition: 0.5s;
					&::before {
						content: "Hide ";
					}
				}
			}
		}
	}
}